html, body, #root {
  height: 100%;
  margin: 0;
}
.sidebar-link {
  color: #212529 !important;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #e9ecef;
  color: #000 !important;
}
