html, body, #root {
  height: 100%;
  margin: 0;
}
.sidebar-link {
  color: #212529 !important;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #e9ecef;
  color: #000 !important;
}

[data-theme="light"] {
  --bg-main: #f8f9fa;
  --bg-sidebar: #f4f5f7;
  --text-main: #212529;
  --bg-active: #0d6efd;
}


[data-theme="dark"] {
  --bg-main: #121212;
  --bg-sidebar: #1e1e1e;
  --text-main: #f1f1f1;
  --bg-active: #2563eb;
}


body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
}
.active-link {
  background: var(--bg-active);
  color: white !important;
}
